.ecode pre[class*="language-"] {
    margin: 1em 0 0 0;
    padding: 0;

    border: 1px solid #e0e0e0;
    border-left: 10px solid #e0e0e0;
}

.ecode .line-numbers-rows {
    background-color: #e8e8e8;
    border-right: 1px solid #e0e0e0;
    color: #888;
}

.ecode .ecode_footer {
    color: #777;

    padding: 4px 4px 4px 8px;

    border-left: 10px solid #e0e0e0;

    background-color: #e8e8e8;

    font-size: 12px;
}

.ecode .ecode_file {
    font-weight: bold;
}

.ecode .ecode_lines:before,
.ecode .ecode_github:before {
    content: '\00a0\25aa\00a0';
    color: #888;
}